<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/js/home/register.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css">
    <title>S.I.C.</title>
</head>
<body>
    <div class="login-box">
        <h2>일해라 노예들아</h2>
        <form>
          
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <p id="button" onclick="location.href='/adminpage/admin_bio'"> BIO </p>
          </a>

          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <p id="button" onclick="location.href='/adminpage/admin_eco'"> ECO </p>
          </a>

          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <p id="button" onclick="location.href='/adminpage/admin_mob'"> MOBILITY </p>
          </a>

          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <p id="button" onclick="location.href='/adminpage/admin_gov'"> GOVERNANCE </p>
          </a>

          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <p id="button" onclick="location.href='/adminpage/admin_it'"> IT </p>
            
          </a>

          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <p id="button" onclick="location.href='/adminpage/admin_new'"> NEWTERIALS </p>
          </a>
        </form>
      </div>

</body>
</html>