<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/js/home/bioadmin.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css">
    <title>GOV</title>
</head>
<body>
    

</body>
</html>