<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/js/home/login.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css">
    <title>가입</title>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input id="id" type="text" name="" required="">
            <label>학번</label>
          </div>
          <div class="user-box">
            <input id="pw" type="password" name="" required="">
            <label>비밀번호</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            LOGIN
            <button>.</button>
          </a>
        </form>
      </div>

</body>
</html>